<!-- HEADER START -->
<app-header></app-header>
<!-- HEADER END -->


<section id="faq_main">

  <div class="faq_title">
    <h2>FAQ</h2>
    <h3>Have any questions?</h3>
    <div class="faq_search">
      <div class="input-group mb-3">

        <input type="text" class="form-control" placeholder="Enter your question here to get started"
          aria-label="Enter your question here to get started" [(ngModel)]="searchText" autocomplete="off">

        <div class="input-group-append" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
          <span class="input-group-text" id="basic-addon2"> <i class="fas fa-search"></i> </span>
        </div>

      </div>
    </div>
  </div>


  <div class="faq_search_result">

    <div class="faq_res">
      <h2>Title</h2>
      <p>Description</p>
    </div>

  </div>



<div class="faqContaier" [ngbCollapse]="isCollapsed">
    <div class="faq_new_nav">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-ENTREPRENEUR" role="tab"
                  aria-controls="pills-home" aria-selected="true">ENTREPRENEUR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-BUSINESS-SERVICE" role="tab"
                  aria-controls="pills-profile" aria-selected="false">BUSINESS SERVICE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-OTHERS" role="tab"
                  aria-controls="pills-contact" aria-selected="false">General FAQs</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="faq_tabs_body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-ENTREPRENEUR" role="tabpanel"
                aria-labelledby="pills-home-tab">
                <div class="before_accondion">
                  <div class="faq_accordion">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <ng-container *ngFor="let faq of entrepreneur | filter:searchText">
                            <ngb-accordion [closeOthers]="'true'" activeIds="1">
                              <ngb-panel id="{{faq.id}}" title="{{faq.title}}">
                                <ng-template ngbPanelContent>
                                  <p>{{faq.description}}</p>
                                </ng-template>
                              </ngb-panel>
                            </ngb-accordion>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-BUSINESS-SERVICE" role="tabpanel">
                <ng-container *ngFor="let faq of business | filter:searchText">
                  <ngb-accordion [closeOthers]="'true'" activeIds="1">
                    <ngb-panel id="{{faq.id}}" title="{{faq.title}}">
                      <ng-template ngbPanelContent>
                        <p>{{faq.description}}</p>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </ng-container>
              </div>
              <div class="tab-pane fade" id="pills-OTHERS" role="tabpanel">
                <ng-container *ngFor="let faq of general | filter:searchText">
                  <ngb-accordion [closeOthers]="'true'" activeIds="1">
                    <ngb-panel id="{{faq.id}}" title="{{faq.title}}">
                      <ng-template ngbPanelContent>
                        <p>{{faq.description}}</p>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</section>

<!-- FOOTER START  -->
<app-footer></app-footer>
<!-- FOOTER END  -->
